.img-user {
    width: 100px;
}

#div_panel_admin {
    width: 500px;
}

#contenedor_form {
    margin: auto;
    overflow: auto;
}

.data-label {
    text-align: right;
}

.data-content {
    text-align: left;
}


/* On screens that are 990px or less */

@media screen and (max-width: 990px) {
    #div_panel_admin {
        width: 100%;
    }
}