.mol-server {
    width: 70px;
}

.seleccion {
    background-color: blue;
}


/* On screens that are 990px or less */

@media screen and (max-width: 990px) {
    .mol-server {
        width: 100%;
    }
}


/* Moviles */

@media screen and (max-width: 768px) {
    a {
        display: inline !important;
    }
}