/* You can add global styles to this file, and also import other style files */

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
.mol-cursor {
    cursor: pointer;
}

.mol-negrita {
    font-weight: bold;
}

.mol-negritaCabecera {
    font-weight: bold !important;
    font-size: 16px !important;
}


/* Cambios globales en ngx-datable*/

.ngx-datatable.scroll-vertical .datatable-body {
    overflow-y: scroll !important;
}

.ngx-datatable .datatable-header {
    background-color: #2196F3;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
    font-weight: bold !important;
    font-size: 16px !important;
    color: white;
}

.mol-overflow {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}